.red {
  color: red;
}

form#registrationForm  abbr[title] {
  text-decoration: none;
  color: red;
}

form#registrationForm  input:invalid,
form#registrationForm  textarea:invalid {
  border: thin solid red;
  box-shadow: none;
}
